<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="edit-success-container padding-default">
    <div class="header-editsuccess">
      <h1>edit Success</h1>
    </div>
    <div class="btn">
      <form action="/home" method="post"><button class="btn-submit bg-blue">back to Home</button></form>

    </div>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
</html>










