<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="submit-container padding-default">
        <h1>Submit Success</h1>
        <div class="btn">
            <form action="/home" method="post"><button class="btn-submit bg-blue">back to Home</button></form>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>